{
  "jsc": {
    "target": "es2018",
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "decorators": true
    },
    "transform": {
      "react": {
        "runtime": "automatic"
      }
    },
    "externalHelpers": false,
    "loose": true
  },
  "module": {
    "type": "es6"
  },
  "minify": true,
  "env": {
    "targets": {
      "chrome": "90",
      "firefox": "88",
      "safari": "14",
      "edge": "90",
      "ios": "12",
      "android": "7"
    },
    "coreJs": false,
    "mode": "usage",
    "shippedProposals": true
  }
}
